@charset "UTF-8";
/* CSS Document */
/* This is the CSS file for all html in this project */

body {
    background-color: tan;
}
/*change color when hover on links in menu bar*/
.menu_bar_a_tag {
    color: black;
}

li a:hover {
    color: #C2FF00;
}
/*change the img setting*/
.index_photos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.index_image {
    margin-right: 20px;
    width:150px;
    text-align:center;
    display:block;
    float: left;
}

.title {
    color: red;
}